@import url('https://fonts.googleapis.com/css?family=Literata|Montserrat&display=swap');
body, html{
  margin: 0;
  padding: 0;
  background-color: white;
  height:100vh;
  width:100vw;
}


section{
  transition: linear;
 
}
#crecel{
  height: 10vh;
  width: 6vw;
  background-color: red;
  border-radius: 100%;
  animation: meine-animation 5s infinite;

}
section:active{

}



@keyframes meine-animation {
    0%, 100%{
      transform: translateX(0%);
      
    }
    25%{
      transform: translateX(90%);
      background-color: royalblue;
    }
    50%{
      transform: translateY(90%);
    }
    75%{
      transform: translateX(-90%);
    }
  
  
}


