@import url('https://fonts.googleapis.com/css?family=Literata|Montserrat&display=swap');
body, html{
  margin: 0;
  padding: 0;
  background-color: white;
  height:100vh;
  width:100vw;
}


section{
  transition: linear;
 
}
#crecel{
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 100%;
  animation: meine-animation 5s infinite;

}
#crecel:hover {
  animation-play-state: paused;
}



@keyframes meine-animation {
  0%,
  100% {
    background: red;
    top: 50px;
    left: 50px;

  }
  25% {
    background-color: gold;
    top:  50px;
    left: 1000px;
  }
  50% {
    background-color: lime;
    top: 800px;
    left: 1000px;

  }
  75% {
    background-color: blue;
    top: 800px;
    left: 50px;
  }
}


